version: "3.9"

services:
  backend:
    build: ./backend
    container_name: textile-backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build: ./frontend
    container_name: textile-frontend
    depends_on:
      - backend
    ports:
      - "80:80"
    restart: always
